@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&family=Roboto&family=Silkscreen&family=Ubuntu&display=swap');

.silkscreen { font-family: 'Silkscreen', sans-serif; }
.roboto { font-family: 'Roboto', sans-serif; }
.ubuntu { font-family: 'Ubuntu', sans-serif; }
.pacifico { font-family: 'Pacifico', cursive; }
.permanent-market { font-family: 'Permanent Marker', cursive; }
